{% extends "index.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="display-4 text-center">{{pageName}}</h1>
    </div>
</div>

<form method="post" action="{% url 'add' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Enter a word" name="word" aria-label="Enter a word">
    </div>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
